@model htmx.Models.Product


    @if (!string.IsNullOrEmpty(@Model.PreviewImage))
    {
        <img src="@Model.PreviewImage" alt="@Model.Name" />
    }
    <h3>@Model.Name</h3>
    <p class="description">@Model.Description</p>
    <p class="price">$@Model.Price</p>
    <button 
        class="btn-danger w-full"
        hx-delete="@Url.Action("Delete", "Home", new { Id = @Model.Id })"
        hx-target="#productsHere">
        Delete
    </button>

