@model List<htmx.Models.Product>
@using prototype_htmx.Controllers;


@{
    Layout = null;
}

@foreach (var product in Model)
{
    <div class="product-card">
        @if (!string.IsNullOrEmpty(@product.PreviewImage))
        {
            <img src="@product.PreviewImage" alt="@product.Name" />
        }
        <h3>@product.Name</h3>
        <p class="description">@product.Description</p>
        <p class="price">$@product.Price</p>
        <button class="btn-danger w-full"
            hx-delete="@Url.Action("Delete","Home", new {Id = @product.Id})"
            hx-target="#productsHere">
            Delete
        </button>
    </div>
}